<h1>Welcome to Medical Portal</h1>
<%= link_to 'Receptionist Portal', receptionist_portal_path %><br>
<%= link_to 'Doctor Portal', doctor_portal_path %><br>
<%= link_to 'View Patients', patients_path %><br>
